[2020-10-11 12:41] zapov commented on #180
v1.9.6 released

[2020-10-11 12:41] #180 closed

[2020-10-11 12:41] zapov commented on #177
v1.9.6 released

[2020-10-11 12:41] #177 closed

[2020-10-11 12:42] zapov commented on #173
v1.9.6 released

[2020-10-11 12:42] #173 closed

[2020-10-11 12:42] zapov commented on #171
v1.9.6 released

[2020-10-11 12:42] #171 closed

[2020-10-11 12:43] zapov commented on #167
This should report a warning which seems sufficiently good.

[2020-10-11 12:43] #167 closed

[2020-10-11 12:44] zapov commented on #165
v1.9.6 released

[2020-10-11 12:44] #165 closed

[2020-10-11 12:45] zapov commented on #157
Fixed in v1.9.6.
v1.9.6 released

[2020-10-11 12:45] #157 closed

[2020-10-11 12:46] zapov commented on #164
There are now Kotlin tests and improved Kotlin support in v1.9.6.
v1.9.6 released

[2020-10-11 12:46] #164 closed

[2020-10-17 11:31] prasannajoshi2121 opened #188 "Boolean conversion for String "true" and "false""
Hi @zapov ,

DSL library is not able to parse "true" or "false" string value as boolean or Boolean type. getting following error while deserialising json.

com.dslplatform.json.ParsingException: Found invalid boolean value at position: 18, following: `{"primitve_type":"`, before: `true"}`

as code is already generated , not able to use custom Serializer/Deserialzer. Please let me know if this can

[2020-10-17 11:35] zapov commented on #188
If you attach custom property converter that will surely work: https://github.com/ngs-doo/dsl-json/blob/master/examples/MavenJava8/src/main/java/com/dslplatform/maven/Example.java#L40
Not sure about custom type converter: https://github.com/ngs-doo/dsl-json/blob/master/examples/MavenJava8/src/main/java/com/dslplatform/maven/Example.java#L182
That might work, its worth to try

[2020-10-17 12:26] prasannajoshi2121 commented on #188
it seems like working for reference type but NOT for primitive (boolean.class) type.

As for primitive boolean type , we can't use type parameter in Read and Write Object.

following is compiler time error :

Fatal error compiling: java.lang.ClassCastException: com.sun.tools.javac.code.Type$JCPrimitiveType cannot be cast to javax.lang.model.type.DeclaredType.

for below snippet.

@JsonConverter(ta

[2020-10-17 12:54] prasannajoshi2121 commented on #188
@zapov
also i cant change from boolean to Boolean as entire code is having boolean with  isGetter() methods , so changing to Boolean would require replacing all isGetter occurrences with normal Getter method.

[2020-10-17 14:33] zapov commented on #188
Added support for primitives in latest commit

[2020-10-17 17:55] prasannajoshi2121 commented on #188
thank you very much let me test

[2020-10-19 13:28] prasannajoshi2121 commented on #188
Hi @zapov ,

thanks for quick fix , having following issues :

1. Not able to create two custom convertors ,
 @JsonConverter(target = boolean.class) and @JsonConverter(target = Boolean.class) ,  getting following compilation error in my workspace , but was able to compile in your DSL project without any issue. Tried  manually adding CLC.jar dependency also in my workspace but no luck.

[ERROR] Fai

[2020-10-19 13:34] prasannajoshi2121 commented on #188
I guess you are not getting compilation error due to - <compilerArgument>-proc:none</compilerArgument> this

[2020-10-19 14:08] zapov commented on #188
Pushed a fix for this to support both types at the same time

[2020-10-20 08:46] prasannajoshi2121 commented on #188
@zapov thank you very much for quick support , tested and working as per expectation. Closing issue.

[2020-10-20 08:46] #188 closed

[2020-10-20 08:47] prasannajoshi2121 commented on #188
Just let me know once its  available in Maven Central .

[2020-10-21 12:27] unoexperto opened #189 "How do you serialize Map with key other than String ?"
Perhaps it was answered before but I couldn't find it neither in tests nor in documentation.

How would you serialize `Map` with key other than `String` ? One of my POJOs has field of type `Map<Long, Something>`. Is there idiomatic way to do it with dsl-json with minimum boilerplate?

I'm using dsl-json in kotlin.

[2020-10-21 12:49] zapov commented on #189
Doesn't this work out of the box?
There is relevant example with enums here: https://github.com/ngs-doo/dsl-json/blob/master/tests-java8/src/test/java/com/dslplatform/json/EnumTest.java#L62

I would expect if you use that exact signature it will work.
Although it will quote keys (which are longs) - to make JSON valid.

[2020-10-21 12:54] plokhotnyuk commented on #189
@unoexperto I'm using DSL-JSON in Scala. Please [here](https://github.com/plokhotnyuk/jsoniter-scala/blob/ed21d7b6934077166d9ed517e73a35c41d34c128/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/DslPlatformJson.scala#L57) for creation of `Map[Int, Boolean]` encoder/decoder and [here](https://github.com/plokhotnyuk/jsoniter-scala/blob/ed21d7b6934077166

[2020-10-21 12:55] unoexperto commented on #189
Thank you for prompt response, guys. It didn't work out of the box but using `com.dslplatform.json.runtime.Settings.basicSetup()` helped. Could you please explain the reason it helped ?

[2020-10-21 12:58] zapov commented on #189
You should check if annotation processor is running.
Search for _DslJsonConverter in target folder for your class. Also check if it has `@CompiledJson` annotation on it

[2020-10-21 13:00] unoexperto commented on #189
It was. Before I had Map issue I had compilation error caused by field that was named `isArray: Boolean`. I think preprocessor couldn't create properly named setter/getter in produced .java file. I had to rename it to `array: Boolean`.

[2020-10-21 13:03] zapov commented on #189
Using `basicSetup()` most likely caused runtime analysis to kick in. There is some setup problem if it doesn't work without it.
But without more info its hard to tell.

[2020-10-21 13:05] unoexperto commented on #189
I see. If there is performance penalty for using runtime analysis in my case and it should have worked without it I'll create isolated test-case and will it post it here later.

[2020-10-21 13:13] unoexperto commented on #189
@zapov I apologize for using this issue as customer support but I have one more question. So I tried to remove runtime analysis to test if `Map<Long, Something>` conversion would work but it failed for following case/data class

[code]

with exception

[code]

Do I have to enable runtime analysis in order to serialize generic containers ?

[2020-10-21 13:25] zapov commented on #189
You shouldn't have to.
But Kotlin uses some strange types which might not be supported in such cases out of the box.

We now finally have Kotlin tests running via: https://github.com/ngs-doo/dsl-json/tree/master/tests-kotlin/src/main/kotlin/com/dslplatform/json

so I'll look into it when I find some time.
Is it working with runtime analysis?

[2020-10-21 13:54] prasannajoshi2121 opened #190 "1.9.7 when its going to be available in Maven central ?"
:) please let me know when it will be available in Maven ?

[2020-10-21 17:50] unoexperto commented on #189
Guys, I'll close this issue because it seems like it was compilation problem or IDEA's problem. I couldn't reproduce the exception in test project and then I couldn't reproduce it in original project after deleting .idea, build and out folders. Sorry for false alams.

[2020-10-21 17:50] #189 closed

[2020-10-22 06:32] zapov commented on #190
I can look into releasing it early next month.
Is there some urgency to it?

[2020-10-22 07:00] prasannajoshi2121 commented on #190
@zapov actually I if you could it would really help :) , as I wanted to test few things with that .

[2020-10-22 07:25] zapov commented on #190
Can you test without a new maven release? That would certainly help me :)

[2020-10-22 09:19] prasannajoshi2121 commented on #190
sure , up to you when you want to release :). Just keeping issue open so that you can update me here once its released to maven.

[2020-10-22 15:39] unoexperto opened #191 "InterfaceTest seems to be broken"
It seems like annotation processor produces non-compilable code for `InterfaceTest`.

Error:
[code]

Project to reproduce
https://github.com/unoexperto/dsl-json-test

[2020-10-22 15:42] unoexperto opened #192 "Discriminator is not written to resulting json"
For some reason `@type` field is not written to json in the following example:

[code]

As result deserialization of such json fails.

I tried to verify that it's not Kotlin-specific issue but annotation processor seem to fail to produce working for for `InterfaceTest` test. I created searate issue for it https://github.com/ngs-doo/dsl-json/issues/191

PS. It also seems like dsl-json can't handle

[2020-10-22 16:03] zapov commented on #192
Without trying to run it, I would assume because type param is lost the way you pass that object around.
Try passing explicit type parameter into encoder

[2020-10-22 16:06] zapov commented on #191
Can you try reproducing this in one of the tests project, eg: https://github.com/ngs-doo/dsl-json/tree/master/tests-java8

[2020-10-22 16:40] unoexperto commented on #191
@zapov I tried but I could compile the suite. It fails with

[code]

[2020-10-22 16:45] unoexperto commented on #192
@zapov Are you saying to do something like this ?

[code]

Still no discriminator :(

[2020-10-22 17:36] zapov commented on #191
Hm, that sounds very strange...?

Which Java is that? Compile it from where? did you try vanilla mvn from console?

btw. you can disable this generated annotation in the pom.xml (like in https://github.com/ngs-doo/dsl-json/blob/master/examples/AndroidJava/app/build.gradle#L17 somwthing like https://github.com/ngs-doo/dsl-json/blob/master/examples/Jackson/pom.xml#L38)

[2020-10-22 17:38] zapov commented on #192
Yes, something like that.

Can you try to see if you get discriminator if you make it as a property of some other pojo?

[2020-10-26 06:39] prasannajoshi2121 opened #193 "NonNull annotation issue"
Hi @zapov

While waiting for 1.9.7 , i was testing another scenario where i found below error.

NonNull annotation is not working properly on Fields with  @JsonProperty annotation.
But its working fine with DSL's  @JsonAttribute annotation.

import com.dslplatform.json.*;
import com.dslplatform.json.NonNull;
import com.fasterxml.jackson.annotation.JsonProperty;
import lombok.*;

@AllArgsConstructo

[2020-10-26 06:52] prasannajoshi2121 opened #194 "Access.Level NONE for fields in Json"
Hi @zapov ,

https://github.com/ngs-doo/dsl-json/issues/177

similar to this issue , if we dont have Setter method available on fields ,then how should we populate that value from Json ??
the solution in above issue was for using @NonNull annotation with Access.Level NONE for Collection Types which we discussed but it seems like not working for normal fields like String , Object and all reference

[2020-10-26 07:20] zapov commented on #193
I'll look. Can you try using some other non null markers instead?

[2020-10-26 07:21] zapov commented on #194
If there is appropriate ctor it will surely use that. There are many usages of that in examples and tests.
Maybe no-arg ctor is creating problems

[2020-10-26 07:58] prasannajoshi2121 commented on #194
well the problem is DSL compilation is trying to find matching constructor before Lombok generating classes itself hence DSL compiler assume that there will be always NO-ARG ctor only even if we have @AllArgsConstructor annotation.

So generated convertor class is having no-arg ctor as initialisation mechanism and its ignoring Lombok generated All-arg Constructor reason why i am facing above issue

[2020-10-26 07:59] prasannajoshi2121 commented on #193
sure , actually while testing issue https://github.com/ngs-doo/dsl-json/issues/194 , i found this so thought of letting you know in case in future if someone face similar issue ( Hopping that i am not the one at least :) )

[2020-10-26 08:03] zapov commented on #194
Ugh... I don't think there is much to be done here ;(
The only thing which comes to mind is that you try to make this a two pass over the source/classes so that dsl-json picks up the expected class objects (if that is even possible)

I think this question is more for Lombok community on how to setup pipeline so that everything is visible for the next annotation processor.

[2020-10-26 08:09] prasannajoshi2121 commented on #194
not sure if there is any ordering for. annotation processor , anyways i can leave with it as of now but lets see if we can find some better solution , i will let you know if found anything. thanks as usual for providing quick support :). closing this as of now

[2020-10-26 08:09] #194 closed

[2020-11-01 11:42] zapov commented on #192
So.. it was working as a property.
I've fixed it in latest commit. It should work now if you pass in explicit signature
https://github.com/ngs-doo/dsl-json/blob/master/tests-kotlin/src/test/java/com/dslplatform/json/InheritanceTest.java#L40

[2020-11-01 11:43] zapov commented on #191
Ah... thats kapt issue.
I don't know much about it, and the only way I managed to get it working in tests is to put Kotlin files in main, not test part of the project

[2020-11-01 12:13] zapov commented on #193
Fixed this in latest commit

[2020-11-02 12:29] prasannajoshi2121 commented on #193
working 👍 , closing issue.

[2020-11-02 12:29] #193 closed

[2020-11-03 19:23] zapov commented on #190
v1.9.7 released

[2020-11-03 19:23] #190 closed

[2020-11-07 06:51] zapov commented on #192
v1.9.7 released

[2020-11-07 06:51] #192 closed

[2020-11-10 16:10] UndeRus opened #195 "Serialization/deserialization in Kotlin using reflection doesn't work"
This code in java works
[code]
But this - doesn't

[code]

[2020-11-17 09:39] zapov commented on #195
It should work if you add paranamer dependency: https://mvnrepository.com/artifact/com.thoughtworks.paranamer/paranamer/2.8

The main problem is that Kotlin class uses ctor arguments which are of the same type so dsl-json cant really know how to pair them without knowing names.

CompliedJson should work fine because it reads names in a different way

[2020-11-29 09:43] FlooIG opened #196 "Serialization / Deserialization Problem"
Hello,
I would like to parse a String in int to be able to deserialize with DLS Json but it makes me a mistake?
Can you tell me how to do it ?
Sincerely
Flo'

Error :

Exception in thread "main" com.dslplatform.json.ParsingException: Expecting '"' for string start. Found [ at position: 1, following: `[`, before: `34, `
                at com.dslplatform.json.ParsingException.create(ParsingExceptio

[2020-11-30 08:35] zapov commented on #196
You have bugs in your code which you should fix.
dsl-json is telling you that it can't parse string containing [ and missing quote

I suggest printlining arguments which you send to dsl-json to see what you are trying to parse. Also, size argument should be related to the buffer.

[2020-12-04 11:17] rodneygp opened #197 "Custom Annotations on fields"
We use JSR380 to validate created beans. This requires me to add annotations like
@PositiveOrZero
@NotNull

and so on bean fields. However, this leads to compilation errors in generated code like this:
java: no annotations are allowed in the type of a class literal

How can I avoid this? I found just a solution to allow unknown types, but I feel this is not what I need, as the type is known (I imp

[2020-12-04 17:37] zapov commented on #197
I'm not sure I follow the question/problem.
Can you post a class example which is causing problems?

[2020-12-05 02:06] rodneygp commented on #197
Sure.

import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.PositiveOrZero;

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import lombok.ToString;

@CompiledJson(onUnknown = CompiledJson.Behavior.IGNORE, name = "NEW_CHANNEL_CREATED_EVENT", discriminator = "messageType")
public class Ne

[2020-12-07 07:07] dekatruong commented on #165
Very Good, Thank guys!

[2020-12-07 10:16] zapov commented on #197
There are some improvements now on master.
It should be improved some more, but your example should work now.

[2020-12-07 10:43] rodneygp commented on #197
Waw! Cool! Hvala vam puno!
Do you expect to have a release in the near future with this improvements?

[2020-12-07 10:56] zapov commented on #197
I'll release it before years end.
It would be good if this was tested for a bit before I release it :)

[2020-12-07 11:00] rodneygp commented on #197
Ok. We'll try to test it and will try to provide feedback. Thanks!

[2020-12-09 09:57] UndeRus commented on #195
Thanks, I have added dependency in build.gradle and now it work

[2020-12-09 09:57] #195 closed

[2020-12-14 13:00] MTigra opened #198 "Custom json writer"
Hi. How can I make dsl-json to serialize LocalDateTime in desired format?
Now  it formatting it like this:
[code]
But we want to format all Localdatetimes like this:
[code]
Probably, i need custom JsonWriter.WriteObject<LocalDateTime> so i create my own class implementing WriteObject interface
But when i do registerWriter(LocalDateTime.class, mylocaldatetimeWriter) it simply ignore it and keep old

[2020-12-14 14:27] zapov commented on #198
I think that should work, but you can certainly try to do it explicitly for all such types: https://github.com/ngs-doo/dsl-json/blob/master/examples/MavenJava8/src/main/java/com/dslplatform/maven/Example.java#L182

[2020-12-18 07:41] mecoFarid opened #199 "Proguard rules issue"
Adding the following rules to the proguard will keep all files including files annotated with DSL-JSON annotations which is expected behavior.

[code]

But using any of proguard content provided in this sample project won't keep files annotated with DSL-JSON annotations. Rules provided in the sample:

[code]

[2020-12-18 13:29] zapov commented on #199
Tnx. I'll look into it/change it

[2020-12-23 17:06] mecoFarid opened #200 "DslJson.serialize() generates serialized object without fields"
Gradle setup:

[code]

Snippet to reproduce:

[code]

Output is:

Expected output:

[2020-12-23 17:31] #199 closed

[2020-12-29 12:39] schernic opened #201 "Unable to deserialize more complex type hierarchies with generics using reflection"
Trying to deserialize objects of classes with more complex type hierarchies and generics using reflection fails with exceptions claiming that readers for type parameters were not found.

Even simple cases like using setters for bounded type parameters fail.

Example Test case:
[code]

Please have a look at PR https://github.com/ngs-doo/dsl-json/pull/202 for a fix.

[2020-12-29 15:59] zapov commented on #201
Tnx for the PR.
I'll take a look when quakes calm down a bit :)

[2021-01-03 10:11] zapov commented on #199
I'm assuming something like

    -keep class *_DslJsonConverter { *; }

should also work?

[2021-01-03 10:26] zapov commented on #201
This now also works with annotation processor.
Will look into making a new release next week.

[2021-01-03 11:00] zapov commented on #200
I was not able to reproduce this :/

If you have not resolved it, please improve the test case I added here: https://github.com/ngs-doo/dsl-json/commit/8a9b30729ddd90b4cd53fa993ddac1e53fa66a4b and I will take a look.

[2021-01-05 20:11] prasannajoshi2121 opened #203 "Deserialization and serialization for @JsonFormat(shape = JsonFormat.Shape.OBJECT)"
Hi @zapov ,

I am having Enum like below
[code]
is it possible serialize above Enum to something like below Json , both single object and list type and deserialize it back to Enum (single and list) ?
Jackson does using this using above mentioned annotation - @JsonFormat(shape = JsonFormat.Shape.OBJECT)

 attached sample enum class with test case which is not serializing properly(TestSimpleEnum.jav

[2021-01-05 23:50] zapov commented on #203
You can implement JsonObject on that enum and provide custom serialize + deserialize implementation.
It is not as nice as just putting annotations like in Jackson.

Alternatively you can use JsonConverter(target = TestEnum.class)

But both will require some manual setup or proxying to another class with expected structure

[2021-01-06 06:43] prasannajoshi2121 commented on #203
I was wondering if manual implementation would slow us down during serialization and deserialization ?

[2021-01-06 07:07] markebbers opened #204 "ByteArray deserialization"
I have a large model with a lot of Strings. These Strings are UTF8 encoded and I will store them the same way. So I'm looking for a way to deserialize these Strings directly to ByteArray (for the best performance). Defining these as ByteArray in the models does not work.

I also created a custom UTF8String & UTF8StringConverter but this is a lot slower then just parse the strings.

[2021-01-06 07:54] zapov commented on #203
Not if you follow the same patterns as generated code.
You can also get a small speedup here if you precalculate the objects and store them into byte[].
Then you can use `writer.writeAscii` (or something alike) to just push them down.
As for deserialization, that could be nontrivial code depending on how much validation you want there, but if you don't need that much and can use one field as an id

[2021-01-06 08:56] zapov commented on #204
"By defining them as ByteArray it does not work", you mean that they are not supported by default? Because you can always register custom type/converter.

Direct String -> byte[] conversion is not always possible, since sometimes conversions are required.

There is StringCache interface which you could use to avoid string allocations, but I always find it slower than vanilla implementations. I gue

[2021-01-06 09:28] markebbers commented on #204
By default this is indeed not supported, but I implemented a custom converter, annotated the field, but the annotation-processor looks like to have some problems with this approach. I implemented a simple string->byte[] converter to test with

[code]

But the annotation-processor throws a nullpointer
[code]

Which traces back to
[code]
Maybe something to do with Kotlin or the ByteArray class?

[2021-01-06 12:26] prasannajoshi2121 commented on #203
sure let me try this and see if that works , keeping defect open for more discussion :)

[2021-01-06 18:32] zapov commented on #204
Tnx for detailed info.
I just fixed this NPE in Analysis in latest commit. It should point now to actual problem in your converter (different types).

Yeah, the built-in string parser is highly optimized so its hard to beat.
Also, if your code uses more than one thread, this implementation is likely to break due to reuse of buffer singleton.

Not sure if this is the implementation you benched, as

[2021-01-06 20:43] prasannajoshi2121 commented on #203
@zapov if possible could you please provide me example of converting JsonArray into java List type using custom convertor .
Like i am trying to write custom converter but the reader object is of single Object return type  and not List

public static final JsonReader.ReadObject<CustomEnumType> JSON_READER_OBJECT = new JsonReader.ReadObject<CustomEnumType>() {
            public CustomEnumType read(

[2021-01-06 22:09] zapov commented on #203
You only need to write converter for object. List of those objects should be normally resolved then (as long as list analyzer is enabled - which is by default, although you can do it explicitly)

https://github.com/ngs-doo/dsl-json/blob/master/examples/MavenJava8/src/main/java/com/dslplatform/maven/Example.java#L39

https://github.com/ngs-doo/dsl-json/blob/master/java8/src/main/java/com/dslplatfor

[2021-01-06 22:34] prasannajoshi2121 commented on #203
Hi @zapov
thanks for quick response , also I see @JsonIgnore is broken and no longer working , let me know if you need any sample example to reproduce . I am using 1.9.7 version.

[2021-01-06 22:43] zapov commented on #203
Please provide an example/test of where its broken, as I'm not aware of it

[2021-01-06 22:51] prasannajoshi2121 commented on #203
sample pojo

[code]
sample test :

[code]

[2021-01-07 07:25] zapov commented on #203
Ah, this actually never worked. It will work if you put it on public getter.
I'll look if its easy to support it, but you might be maybe able to get it to work if you instruct Lombok to copy it onto getter

[2021-01-07 13:08] markebbers commented on #204
You can ignore that, I was testing the difference between a empty array and copying the bytes from the buffer.

[2021-01-09 15:02] zapov commented on #203
v1.9.8 released. This private JsonIgnore should work now

[2021-01-09 15:02] #203 closed

[2021-01-09 15:03] zapov commented on #204
v1.9.8 released

[2021-01-09 15:03] #204 closed

[2021-01-09 15:03] zapov commented on #201
v1.9.8 released

[2021-01-09 15:03] #201 closed

[2021-01-09 15:04] zapov commented on #198
This should already work. Reopen with more info if you need extra help

[2021-01-09 15:04] #198 closed

[2021-01-09 15:04] zapov commented on #197
v1.9.8 released

[2021-01-09 15:04] #197 closed

[2021-01-09 15:07] zapov commented on #191
Here is an example of how to remove generated annotations; https://github.com/ngs-doo/dsl-json/blob/master/examples/AndroidKotlin/app/build.gradle#L19

Alternatively you can add missing dependency

[2021-01-09 15:07] #191 closed

[2021-01-14 15:32] markebbers opened #205 "Close converter"
I have a question about the following;

Is it possible that a converter get notified when the reader is done? This to remove / clear static state.

And how can I register a converter, not for a type but just for 1 single field, which is a basic type. This by using a converter-factory because my converter has state (caches).

[2021-01-15 08:48] zapov commented on #205
Your question does not make too much sense to me. Converter calls into reader, so it knows when reader is done.
You will have to explain it in bit more detail.

As for the converter on a single field you can use this: https://github.com/ngs-doo/dsl-json/blob/master/examples/MavenJava8/src/main/java/com/dslplatform/maven/Example.java#L40

ThreadLocal should work fine with DSL-JSON

[2021-01-16 20:50] #196 closed

[2021-02-01 09:08] markebbers opened #206 "Read object as JSON string"
I'm implementing a JsonReader which will read a lot of duplicate objects. So I had the idea to cache the whole JSON string to improve performance. How can I do that?

For example:
[code]

Read this as String, check my cache if there is already an existing instance. (Map<String, ObjectA>). If not parse the json string to object.

[2021-02-01 23:42] zapov commented on #206
There is no concept of whole JSON string caching in DSL-JSON.

There is concept of string caching so you can leverage that to avoid string allocations: https://github.com/ngs-doo/dsl-json/blob/2ac05245ac20479a3fe9a31e5754da6a29c38d74/library/src/main/java/com/dslplatform/json/StringCache.java
The other thing you can do is use factories and cache object instances in there: https://github.com/ngs-do

[2021-03-03 11:07] markebbers opened #207 "Lenient parsing"
Is it possible to use less strict (lenient) parsing with dsl-json? This to directly parse non strings into string. For example read a double value as string.

For example I want to parse this snippet of JSON directly to the given class.
[code]
[code]

[2021-03-03 17:38] zapov commented on #207
You should be able to do it via property converter, eg: https://github.com/ngs-doo/dsl-json/blob/master/examples/MavenJava8/src/main/java/com/dslplatform/maven/Example.java#L40
For example parse it as big decimal (or something alike) and then return string

[2021-03-04 07:55] markebbers commented on #207
Thanks for your reply and I already did exactly the same :smile:. But this still introduces some extra parsing steps. So maybe this lenient might be a nice to have feature in the future.

[2021-03-04 08:24] zapov commented on #207
What do you mean by extra parsing steps? Can you show it in code?

[2021-03-04 09:14] markebbers commented on #207
What I mean is that you need to construct a BigDecimal object and then call the toPlainString() just the get the same string value as if you just red it as string. And in my use-case I have 10th of millions of these objects so this BigDecimal construction will impact performance.

[2021-03-04 09:20] zapov commented on #207
Ah, ok.
But you can just write relevant code for parsing this. Eg if you look at parse numbers code at the start you have:

    final int start = reader.scanNumber();
    final int end = reader.getCurrentIndex();
    final byte[] buf = reader.buffer;

Assuming that you are parsing of byte[] instead of stream.
Then you can create string from buffer and start/end info.

So there is no real use case

[2021-03-04 09:22] markebbers commented on #207
Thanks for your fast response and looking good! Is this also usable if I use a stream?

[2021-03-04 09:25] zapov commented on #207
You need some more edge case handling in the case, but you can see it there in the parsing code, eg:

    if (end == reader.length()) {
        final NumberInfo tmp = readLongNumber(reader, start);
        return parseFloatGeneric(tmp.buffer, tmp.length, reader, false);
    }

where you could use that tmp for the same purpose. Or if you want to go crazy avoid even that allocation by inlining code

[2021-03-04 11:12] markebbers commented on #207
Thanks, I will dive into that. Most of the methods and objects you mention are (package) private members of NumberConverter.

[2021-03-04 14:57] markebbers commented on #207
I followed your advice but found at that parsing it to the BigDecimal directly is already very fast :) Thank you for your support.

[2021-03-11 23:38] #207 closed

[2021-03-24 03:12] longdt opened #208 "Need support snake case without @JsonAttribute"
As title, I need a way to setting dsl-json uses snake-case without @JsonAttribute annotation.
Maybe we can use @CompiledJson(namingStrategy = Case.SNAKE_CASE)

[2021-03-24 07:34] zapov commented on #208
I guess it would be nice if instead of `minified()` on CompiledJson there is something like namingStrategy, although certainly not built in via enumeration like this, but rather by referencing a class which implements the expected behavior.
I can look into refactoring current minified naming strategy into such pattern, but don't really have a need to implement other strategies like snake casing.
I

[2021-03-25 10:09] longdt commented on #208
Yes, I think we can refactor `minified()` to support other strategies. I hope I can contribute but I'm busy with company projects.
P/s I'm a big fan of dsl-json, your library is amazing. I like idea: using annotation processor to generate source code

[2021-03-30 09:54] longdt opened #209 "Need public some methods in library"
while we have some public methods: `DslJon.serialize()` which accepts `JsonWriter` as input but following method:  `DslJon.deserialize()` was declared as private modify
[code]
while `JsonWriter.reset()` was declared as public method but JsonReader.reset() was private so we can't reset reader to reuse
Pls make these methods as public

[2021-03-31 09:46] zapov commented on #209
Not sure about making it public, but we could certainly make it protected. Would that be sufficient?

[2021-04-05 17:21] zapov commented on #208
I pushed this change with latest commit

[2021-04-06 02:02] longdt commented on #208
thanks

[2021-04-15 10:15] sangkyunkim89 opened #210 "hi dont work serialize"
[code]

Compiled and checked, the writeContentFull function is empty

[code]

Tested with the source code you provided and the result is "{}"
I haven't been able to do it for several hours, so ask Please take care of it quickly

For reference, I am using java version 1.8 and I used it in spring

[2021-04-15 12:32] zapov commented on #210
I would try adding annotation to this private member. Also check that order of annotation processor is first Lombok then DSL-JSON
https://github.com/ngs-doo/dsl-json/blob/master/examples/Lombok/pom.xml#L39

[2021-04-15 12:34] zapov commented on #210
btw. next time try to avoid using phrases such as: "take care of it quickly" as they do not translate nicely across languages and cultures

[2021-04-15 13:03] sangkyunkim89 commented on #210
@zapov thank u your answer

I tried to use your library after seeing the benchmark that it is faster than jackson, but when I tested it, why is it slower?
Am I coding wrong?

[code]

[2021-04-15 18:59] zapov commented on #210
You should reset jsonWriter within the loop

[2021-04-16 02:50] sangkyunkim89 commented on #210
@zapov  thank u !!
fast performance
support to convert camelcase to snakecase??

[2021-04-16 07:21] zapov commented on #210
There isn't one built in (yet!?)

On master, you can write your own like in here: https://github.com/ngs-doo/dsl-json/blob/master/library/src/main/java/com/dslplatform/json/processor/MinifiedNaming.java

[2021-06-04 05:44] mecoFarid opened #211 "Variable is already defined in class ObjectFormatConverter"
**Library Version:** 1.9.4
**Platform:** Android

Whenever subclass overrides and defines a new name for a public field from the superclass, the project fails to compile.

**SuperClass**

[code]

**ChildClass**
[code]

**Error:**

Once "field" is converted to a private or package-private field in `SuperClass`, the project compiles.

[2021-06-07 06:23] zapov commented on #211
Tnx for the bug report. I'll look what can be done about this

[2021-06-08 17:50] zapov commented on #211
I've pushed a fix for this in latest commit: https://github.com/ngs-doo/dsl-json/commit/9fd005c75be71c9ea2c714495022242f462a451c

[2021-06-11 09:12] testower commented on #134
Any idea how much work it would be to create a library for this rather waiting for "native" support in the spring framework?

[2021-06-14 16:58] zapov commented on #134
Did you try using DslJsonMessageConverter and DslJsonSetup from the link above?

[2021-06-16 15:13] mecoFarid opened #212 "Is there any way to ignore `@JsonAttribute(ignore = true)` when serializing?"
Is there any way to ignore `@JsonAttribute(ignore = true)` when serializing the Object?

Use-case:
A class is used for both sending the data to the server and local caching. Some fields must not be sent to a server but should be cached.

**NOTE:** I can do this with inheritance. "remote" and "cache" models would inherit the same class and have specific fields ignored with `@JsonAttribute(ignore =

[2021-06-17 06:57] zapov commented on #212
Not currently. It seems you want some runtime policy for field behavior. Which would be nice to have for some options, but there isn't one yet.

The closest you can get to this would be to send only non-null fields from server and manage the value of those via custom formatter.

[2021-06-17 10:38] mecoFarid commented on #212
The thing is I'm trying to avoid customization for two exact reasons:
1. **Bugs;**         Future changes in class would require more customizations and if forgotten may lead to bugs
2. **Verbosity;** Current models even have other classes as members which have more fields annotated with `@JsonAttribute(ignore = true)`

Actually, I was thinking if there is an option to build `DslJson` instance tha

[2021-06-24 10:56] Qudratillo opened #213 "@CompiledJson annotation asking to give all parameters in Kotlin (default params not working)"
Hello, compiler gives an error when i try to use `@CompiledJson` without parameters in Kotlin. However, in Java it works as expected.

Following code gives an error in Kotlin
[code]

I did some research on this issues and I found after release 1.8.0 this issue was born. Only change made to `CompiledJson` was adding `ElementType.METHOD` target. It was like

Before
[code]

After
[code]

Complier err

[2021-06-26 20:33] zapov commented on #213
I tried reproducing this, but it work in my test: https://github.com/ngs-doo/dsl-json/commit/2963fb37767292f8874e0b9eda3243951e8c8f63

You would need to provide more info, eg, Java version, Kotlin version, etc...
Ideally make a test like I did, but which fails

[2021-06-30 11:22] Qudratillo commented on #213
@zapov Thank you for then answer

I downloaded the project and run tests, they executed fine. However, after changing kotlin version to 1.5.10, tests failed (same error I mentioned above). I change kotlin version to 1.4.32 and everything worked fine.
I conclude Kotlin version 1.5.0 introduced some changes that effected @CompiledJson annotation.

[2021-06-30 11:23] Qudratillo commented on #213
<img width="1433" alt="Screen Shot 2021-06-30 at 16 23 15" src="https://user-images.githubusercontent.com/11327524/123952473-7c296280-d9bf-11eb-8008-2e32c659a8cb.png">

[2021-07-05 10:40] re-thc commented on #213
Same error. It's definitely a Kotlin 1.5.0 issue. Likely some syntax change.

[2021-07-05 10:53] zapov commented on #213
I don't use Kotlin much ;( It would be great if someone can look into this... maybe its some regression they did in the language

[2021-07-07 09:47] Qudratillo commented on #213
[code]

@zapov if you delete `ElementType.METHOD` target from CompiledJson, it must work.

[2021-07-07 09:55] zapov commented on #213
But I can't do that since this annotation can be used for factories and builder to mark those methods.

[2021-07-07 10:01] Qudratillo commented on #213
@zapov Yeah, I know. I said it to narrow the issue. I think we need to research on this target.

[2021-09-07 21:00] zapov commented on #213
https://youtrack.jetbrains.com/issue/KT-48316

[2021-09-14 10:50] Qudratillo opened #214 "Kotlin deserializeAs = CompiledJson::class gives an error"
Hi, @zapov

Since currently we cannot use `@CompiledJson` without parameters in Kotlin I tried to give default parameters. Then I had compiler complaining about `deserializeAs` like `'com.dslplatform.json.CompiledJson' must be a concrete type`

Error
[code]

Code
[code]

[2021-09-15 06:32] zapov commented on #214
I know I had to use `Something::class.java` in Kotlin to make it Java friendly, but this doesn't seem to be possible here.

I don't think you have much options except to wait for Kotlin people to fix this bug.

[2021-09-15 18:03] Qudratillo opened #215 "Kotlin: Class field of type Generic List (List<T>) is getting ignored"
Hi @zapov :)
I made a test in Kotlin similar to java8 GenericTest
[code]

[code]

And it fails with
[code]

I checked converter generated and it has no serialize/deserialize methods for `items` field
[code]

[2021-09-16 06:14] zapov commented on #215
Can you make a PR to add this test to: https://github.com/ngs-doo/dsl-json/tree/master/tests-kotlin ?

[2021-09-16 07:34] Qudratillo commented on #215
@zapov I made it
https://github.com/ngs-doo/dsl-json/pull/216

[2021-09-17 17:19] zapov commented on #215
Pushed a fix to master. Test is working now

[2021-09-24 06:46] TeofilisMartisius opened #219 "JsonReader and ByteBuffer"
Hello,

Are there any plans to modify JsonReader to work with ByteBuffers?

I have some code which uses ByteBuffers, and they cannot be converted to byte arrays (memory mapped byte buffers). I would like to be able to read ByteBuffers using DslJson JsonReader without having to allocate more objects.

I would be willing to contribute some of my time to make changes myself. But I don't see any easy

[2021-09-24 07:13] plokhotnyuk commented on #219
@TeofilisMartisius ByteBuffers are slower when accessing them byte per byte comparing to byte arrays, so it is worth having an internal pre-allocated buffer with some copying.

[Here](https://github.com/plokhotnyuk/jsoniter-scala/blob/master/jsoniter-scala-core/jvm/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/core/JsonReader.scala) you can see how jsoniter-scala uses an internal buffer to

[2021-09-24 08:58] zapov commented on #219
Hi,

there are no plans. As @plokhotnyuk mentioned, there is noticeable overhead of using byte buffers, so a better pattern would be to also have byte[] around which you can use for such purpose.

[2021-09-24 11:45] TeofilisMartisius commented on #219
Hello,

Thanks for the ideas! Yes, I can allocate a byte array and just copy the data from byte buffer- it's doesn't stress GC if I keep the byte array, and it's fast enough for me. In fact I've already modified my code to do it.

I'll close this ticket. Thanks for very very quick response.

Sincerely,
Teofilis Martisius

[2021-09-24 11:46] #219 closed

[2021-10-03 17:40] pieroxy opened #220 "How to reuse an instance ?"
Hello,

Reading the README.md, I stumbled on this sentence: "during deserialization an existing instance can be provided to reduce GC"

Since then I've been trying to do that, but I cannot put my head around it. I'd like to provide already existing instances but I cannot find any documentation or examples to help me. Note that I already have dsl-json working fine on my system.

Could you point me

[2021-10-04 06:03] zapov commented on #220
Here is the main API: https://github.com/ngs-doo/dsl-json/blob/master/library/src/main/java/com/dslplatform/json/JsonReader.java#L1491
Although its better to use Binder signature directly (few lines below)

You have relevant usage example here: https://github.com/ngs-doo/dsl-json/blob/b7d8795a405dc7faeb2a1b4699497ab628cfcd08/library/src/test/java/com/dslplatform/json/ReaderTest.java#L215

Annotati

[2021-10-05 04:56] pieroxy commented on #220
Thanks for the tips. I got it to work on a sample project with simple objects. However, with this approach, I have to parse the object mydelf. It might work for simple objects, but how can I do it with generics? Let's say I have the following classes:

[code]

And I have the following json:

[code]

And I want to deserialize it into an instance of `A`, but I have a Pool of objects `B` that I want

[2021-10-05 06:15] zapov commented on #220
Assuming that you know the signature types of such properties you can mark them with converter, eg: https://github.com/ngs-doo/dsl-json/blob/master/examples/MavenJava8/src/main/java/com/dslplatform/maven/Example.java#L40
and reuse the instances in there. It might require some setup, but you should be able to come up with something to wire up dependencies.

[2021-10-06 08:29] pieroxy commented on #220
Thanks a lot, this looks great. I'm going to give it a try today.

[2021-10-22 11:24] hellnn opened #221 "Annotation Processor skips fields, which are marked as @NotNull"
After converter generation, it doesn't contain name of fields, which getters were marked as @javax.validation.constraints.NotNull

For example:
[code]
Generated:
[code]

[2021-11-01 17:41] zapov commented on #221
v1.9.9 released

[2021-11-01 17:41] #221 closed

[2021-11-01 17:41] zapov commented on #215
v1.9.9 released

[2021-11-01 17:41] #215 closed

[2021-11-01 17:42] zapov commented on #211
v1.9.9 released

[2021-11-01 17:42] #211 closed

[2021-11-01 17:44] zapov commented on #210
v1.9.9 released

[2021-11-01 17:44] #210 closed

[2021-11-01 17:44] zapov commented on #208
v1.9.9 released

[2021-11-01 17:44] #208 closed

[2021-11-03 15:15] hellnn opened #222 "Allow to customize scanned annotations"
Is it possible to deserialize missing nested objects to null reference, rather than empty objects?

For example:

{name: ''foo"}

class Event {
     private String name;
     private Source source
}
class Source {
   private String name
}

In this case after deserialization event source field should be null

[2021-11-03 15:55] zapov commented on #222
I would expect it works like that by default?

Technically when its missing it should be the value assigned in the ctor. So if its null in ctor it should remain null. If its empty in ctor it should remain empty

[2021-11-07 09:14] hellnn commented on #222
The problem is, if you use the java validation api, then the @NotNull annotation works only for null fields, so you cannot validate bean required fields and for example Jackson deserializes missing fields as null by default

[2021-11-07 09:31] zapov commented on #222
I'm not sure I understand what you mean by validating them.

If you want to force having this field in JSON, you can do that by turning mandatory on for this field.
It can still be null even when mandatory. Mandatory means it must be present in the JSON. That way you can validate it and force it to be expected in JSON.

If your class does not have empty ctor and instead expects all properties duri

[2021-11-07 10:18] zapov commented on #222
You can take a look at this test: https://github.com/ngs-doo/dsl-json/commit/c7f6d145b7c8aaca1232b35959aef7fe4fd3c750

It shows explicit expected behavior of DSL-JSON.
If field is non-nullable, but DSL-JSON detects that its still null after deserialization it will assign default value for it. For strings that is empty string, for references this is instance from empty ctor.

[2021-11-09 07:56] hellnn commented on #222
Ok, There is using @JsonAttribure, but in my case it annotation not use, because classes are generated by OpenApi generator

[2021-11-09 14:07] zapov commented on #222
NonNull annotation should behave the same as nullable=false in JsonAnnotation

Anyway... its hard to me to understand the problem you are having.
I suggest making a PR with a test in which you show the behavior and expected result.

[2021-11-10 10:17] hellnn commented on #222
I am expecting that the default behavior for @NotNull should be as nullable=false, otherwise, the validation does not work, because the field will always be not null

[2021-11-10 10:20] zapov commented on #222
And that is the default behavior as long as your NotNull is recognized.
This ones are recognized by default: https://github.com/ngs-doo/dsl-json/blob/master/java8/src/main/java/com/dslplatform/json/processor/CompiledJsonAnnotationProcessor.java#L67

[2021-11-10 10:26] zapov commented on #222
It seems what you want is being able to configure the list of signatures in those lookups. That seems fair, but its not currently supported out of the box.

To get that behavior you will have to copy this annotation processor class and remove the signatures from there.

[2021-11-10 10:30] zapov commented on #222
Ok, I'll keep this in mind when releasing next version. But I don't think that will be soon.

[2021-11-10 10:35] hellnn commented on #222
Thank you, I've found a workaround for my case so far

[2021-12-27 11:33] AndyBRoswell opened #223 "Compilation error when the first letter of a member variable is uppercase"
[code]

[code]

[2021-12-27 11:39] #223 closed

[2021-12-27 11:39] AndyBRoswell commented on #223
This problem suddenly got solved due to unknown reasons.

[2022-01-08 22:07] doppelrittberger opened #224 "How to manually add DTO classes for compilation"
Hi
I have some DTOs in external libraries where I can not simple add @CompiledJson annotations to. How can I manually define a list of classes for which DSL json generates optimized serializers? I use Java8 version with maven and did not find any solution for this.
Best regards
Markus

[2022-01-09 08:26] zapov commented on #224
You can create a class which references them and put annotation on it.

[2022-01-09 10:41] doppelrittberger commented on #224
Ok, the problem now is that the referenced DTO class has Jackson annotations:
[code]
but DSL json seems to ignore @JsonCreator in this class. I reference it via:
[code]
Any ideas to support this one?

Thanks for your effort :)

[2022-01-09 10:47] zapov commented on #224
You can configure it to recognize some Jackson stuff. I think it should recognize JacksonCreator
https://github.com/ngs-doo/dsl-json/blob/master/examples/Jackson/pom.xml#L40

[2022-01-09 11:38] doppelrittberger commented on #224
Thanks for the fast support :)
I created a test project here: https://github.com/doppelrittberger/dsljson-test
But I cannot get it to compile.
What am I missing?

[2022-01-13 19:57] doppelrittberger commented on #224
Hi there,

one addition: if I delete the JsonInit class which references the Event class which is annotated with @JsonCreator it works. So I think there is a small bug in how the classes are generated. If I move CompiledJsonAnnotationProcessor Line 279 (process @CompiledJson annotation) below the processing of the Jackson/JsonB annotations (Line 285) my example works. Tests seem still to be workin

[2022-01-14 05:46] zapov commented on #224
Tnx. I'll look when I find some time

[2022-03-14 15:24] Rufim opened #225 "Unable to find matching property in Kotlin data class fields start with "is""
Lib Version 1.9.9

When i try compile project with this class:
[code]
I get following error: Unable to find matching property: 'isLocked' used in constructor. Either use annotation processor on source code, on bytecode with -parameters flag (to enable parameter names) or manually create an instance via converter

For any fields with "is" i also got this error

Any ideas how to fix it?

[2022-03-14 21:20] zapov commented on #225
Tnx for the bug report.

For now the best thing you can do (assuming you want isLocked in JSON output) is to have something like
[code]

[2022-03-16 07:05] mecoFarid opened #226 "Argument not withing bounds exception when used with a class with generic type"
**Library Version:**  `1.9.4`
**DslJson Instance:** `new DslJson<>(Settings.basicSetup().allowArrayFormat(true).skipDefaultValues(false));`

I have a class with generic type:

[code]

**Filter** class is a simple POJO class:
[code]

There is one more class `FoodFilter` that extends `Filter` class:
[code]

I am trying to use `FilterResponse` with Retrofit like below:
[code]

When building the app,

[2022-03-24 17:43] BillowGY opened #227 "The example is not working"
Hi there,
I loaded the project MavenJava8 in eclipse, then compile and tried to run Example which give me exception like:
**```
_Exception in thread "main" com.dslplatform.json.ConfigurationException: Unable to serialize provided object. Failed to find serializer for: class com.dslplatform.maven.Example$Model
	at com.dslplatform.json.DslJson.serialize(DslJson.java:2905)
	at com.dslplatform.maven.E

[2022-03-24 18:00] BillowGY commented on #227
checked and eclipse didn't create classes like:
_Example$Model$Abstract_DslJsonConverter.class
......
_Example$Model_DslJsonConverter$ObjectFormatConverter.class
_Example$Model_DslJsonConverter.class

If I copy these missing classes to the target/classes.../maven folder, then I can run Example in eclipse

[2022-03-24 23:07] BillowGY commented on #227
I can run mvn compile in eclipse to have it work. But this is not what want to manually do. It's not flexible.

[2022-03-25 05:12] zapov commented on #227
I don't really use Eclipse much, but I'm assuming you just need to setup Annotation Processors in there.
Something like: https://stackoverflow.com/questions/43404891/how-to-configure-java-annotation-processors-in-eclipse

[2022-03-29 17:02] BillowGY commented on #227
thanks. If it needs manually setup, then I may not use it. It's not convenient when you have lots of developers in the team.

[2022-04-21 20:09] emanzitti opened #228 "Java 17 Support"
Does this work with Java 17?

[2022-04-21 20:10] emanzitti commented on #228
I know J17 broke our jackson support.  Curious if this happens here too.  It seems to work, but I am not 100% yet.

[2022-04-21 20:43] zapov commented on #228
I don't expect DSL-JSON to break if used with annotation processor (the recommended way to use it)

[2022-04-22 13:09] #228 closed

[2022-05-16 06:14] longdt opened #229 "@CompiledJson.namingStrategy doens't work"
I have simple model class:
[code]

I'm trying implement snake case naming strategy but when compile code with MinifiedNaming I with get error message:
`Unable to create an instance of NamingStrategy from the provided class: 'com.dslplatform.json.processor.MinifiedNaming'. class com.dslplatform.json.processor.MinifiedNaming cannot be cast to class com.dslplatform.json.processor.NamingStrategy (com.

[2022-05-16 15:44] zapov commented on #229
It would be great if you had a reproducible.
The main reason it was trying to load from context class loader is because your custom jar would not be known by dsl-json jar where NaminStrategy is.
So I can surely change it to something better, but your suggestion looks like it will hit some other limitations :(
I remember when writing this that I wanted to use the same mechanism to load type via typ

[2022-06-01 13:06] imrafaelmerino opened #231 "question about JsonReader"
Hi all,

I'm using dsl-json API and I need to copy the state of a JsonReader instance.
The scenario is the following: I'm parsing a string but if I find an error I need go back to previous state of the reader to try an alternative. is it possible with the current JsonReader API?

Thanks in advance!

Rafael

[2022-06-01 14:17] plokhotnyuk commented on #231
@imrafaelmerino  I bet that copying of the state of the reader will be too expensive in CPU cycles comparing to the parsing of JSON value itself.

Here is a list of solutions that provides [`JsonReader` of jsoniter-scala](https://github.com/plokhotnyuk/jsoniter-scala/blob/master/jsoniter-scala-core/jvm/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/core/JsonReader.scala), probably dsl-json A

[2022-06-01 14:52] imrafaelmerino commented on #231
I like the third option. not sure how to implement it and if it would be accepted

By the way this is the library I've developed [json-values](https://github.com/imrafaelmerino/json-values)
I parse strings from json specs using dsl-json
There is a Scala version I have to brush up and jsoniter-scala seems a perfect fit

Thanks for your quick reply

[2022-06-01 15:01] imrafaelmerino commented on #231
Just out of curiosity, the idea of validating a json while parsing it is very efficient. here a comparison of my library and other java json-schema implementations I've found in https://json-schema.org/implementations.html
<img width="1198" alt="Captura de pantalla 2022-06-01 a las 16 58 30" src="https://user-images.githubusercontent.com/52382610/171435980-3dda900e-48e6-4a70-bad0-c07ddb6b50b5.png"

[2022-06-03 12:40] imrafaelmerino opened #232 "method readBase64() of JsonReader"
The method returns an empty array of bytes reading a string that is not base64.

The same result is returned when an empty string is read, which is ok.

""    -> [].   (ok)
"a". -> [].    (NOT ok, "a" is not a valid base64 string, cannot be decoded)

it makes hard to the client distinguish errors from the corner case (empty string). In other cases a ParsingException is thrown whenever the reader f

[2022-06-05 14:56] zapov commented on #232
It would be good to improve it and throw errors for invalid base64.
I dont have much time to improve it ATM. It would be great if someone makes a PR to improve it.

[2022-06-05 19:06] Deceptio opened #233 "Question about create a Java POJO with an anonymous object"
I have this json
`[
2308,
{
    "a": [
        "1958.38000",
        2,
        "2.05000000"
    ],
    "b": [
        "1957.81000",
        3,
        "3.95000000"
    ],
    "c": [
        "1957.32000",
        "0.55407557"
    ],
    "v": [
        "1422.39220916",
        "1524.19647295"
    ],
    "p": [
        "1959.08106",
        "1960.58108"
    ],
    "t": [
        1671,
        1949

[2022-06-06 06:54] zapov commented on #233
Hi,

I would assume deserialize Object.class or deserializeList of Object should give you what you want.
This is a JSON Array, so you can't convert it into a map, only into a collection

[2022-06-06 07:03] zapov commented on #231
JsonReaders were designed to be forward only.
I guess if you are using byte[] directly or have your own stream implementation you could implement some rewinding to earlier position. But there is nothing like that build in.

[2022-06-06 07:09] Deceptio commented on #233
Hi

Thank you for your answer
 What do you mean with "I would assume deserialize Object.class or deserializeList of Object should give you what you want."
Can you please show a short Java example`?

[2022-06-06 07:24] zapov commented on #233
If you don't know the schema upfront, you can ask for unknown object type via Object.class
There is relevant example here: https://github.com/ngs-doo/dsl-json/blob/b7d8795a405dc7faeb2a1b4699497ab628cfcd08/tests-java8/src/test/java/com/dslplatform/json/OnUnknownTest.java#L109

But basically both
[code]
Should give you what you want as long as you setup dslUnknown to support such deserialization (wh

[2022-06-06 08:27] Deceptio commented on #233
Thank you ,very kind of you

[2022-06-07 09:20] longdt opened #234 "BigIntegerConverter.readLongNumber() computes NumberInfo.length incorrect"
I found something wrong in method `BigIntegerConverter.readLongNumber()`:
[code]
for example when use dsl-json to deserialize an input stream which contains big array json payload like this: `[<big integer 1>,<big integer 2>,<big integer n>]`.  At end of first block (default 4096 bytes) then function `readLongNumber` was call.
When variable `ch` = ',' the function should decrease JsonReader.curren

[2022-06-09 09:23] zapov commented on #234
Tnx for the report. Ideally it would be to provide test case along the report.

[2022-06-09 09:57] longdt commented on #234
@zapov Test case is here: https://github.com/longdt/dsl-json-parse-number

[2022-06-09 10:00] longdt commented on #234
and this is my workaround:
[code]

[2022-06-09 10:53] longdt commented on #229
@zapov you can check this repo: https://github.com/longdt/dsl-json-ext
I write this to provide snake case naming strategy. You can run test case inside module `test-functional`, but first you need remove some replaced DSL-JSON classes due I do some trick to workaround

[2022-07-09 21:07] catap opened #235 "By `char` reading from `String` at `JsonReader`"
Hey,

This is more than an idea, not a bug: `DslJson.newReader(String)` might be improved if `JsonReader` supports reading from strings by `char` via `charAt(int)`.

Such API allows to parse strings in much more GC friendly way, without `toByte()` which copies strings.

[2022-07-10 06:36] zapov commented on #235
There wouldn't be any benefit to it as the entire library works with bytes not chars.
This API is deprecated as a way to discourage users from trying to pass in strings.
If you want to reduce GC, try to pass bytes or streams for processing instead of optimizing GC for strings.

[2022-07-13 02:26] doukai opened #236 "Any plans to support Jakarta JSON-B(JSR 367)"
Any plan or idea about to support it?
[https://jakarta.ee/specifications/jsonb/3.0/jakarta-jsonb-spec-3.0.html](url)
[https://javaee.github.io/jsonb-spec/](url)
Thank!

[2022-07-13 18:09] zapov commented on #236
No such plans ATM :(

It would be nice to have it eventually.
For now there is only simple support: https://github.com/ngs-doo/dsl-json/tree/master/examples/Jsonb

[2022-07-14 01:12] doukai commented on #236
Maybe it's too early, thanks for your answer

[2022-07-14 01:12] #236 closed

[2022-07-17 09:56] zapov commented on #232
This is now parsed as expected. Added a test for this. Not sure if there are other cases.

[2022-07-17 09:57] #235 closed

[2022-07-17 12:18] zapov commented on #234
Fixed on master. For some reason there was buggy duplicate of this long number parsing in BigInt.
I've deleted the buggy one and redirected it to one which works as expected.

btw. if you want to fix it on current version, you can just register custom implementation of BigInteger handling. That should fix it without the need for this hacks.

[2022-07-18 20:03] nanders4 opened #237 "Manually create META-INF/services file"
Hi,
Because of some issues with my build system, the META-INF/services file is not making it into my build, causing DslJson to complain.
I read that this file can be provided manually. Could you provide the format of the Configuration file?
Say we have a situation like below:

[code]

What should be in the META-INF/services/...Configuration file to make this work?

[2022-07-19 04:51] zapov commented on #237
META-INF is not the primary discovery mechanism for years now.
DSL-JSON will look into specific package name first: `dsl_json.your_package.YourClassConverter`

So you should check if this file gets created or fix the problem causing it not getting created.
In the end, you can use META-INF later to load up all such dependencies up-front, but this doesn't seem like your issue.

You have gradle examp

[2022-08-08 06:40] mandeepjain opened #238 "Unable to serialize valid json object"
Json :

`{"id":"77abbb7c-cdee-4259-8828-f6681e2ea3b1","identity":20317609,"type":"profile","profileData":{"displayName":"familiar_farfetch’d99","language":"english"}}`

Error :

Can you please help @zapov

[2022-08-08 07:49] mandeepjain commented on #238
On further exploring, library is failing when there are special characters present.

Ex :
[code]

[2022-08-08 08:22] zapov commented on #238
I tried reproducing it on master but it works for me :/

Pls try on latest version and ideally make a PR with failing test

[2022-08-08 12:19] mandeepjain commented on #238
I have raised a PR, kindly look into it
#239

[2022-08-08 12:49] zapov commented on #238
The problem you are experiencing is non UTF-8 encoding.

This works as expected

    byte[] data = jsonWriter.toString().getBytes(StandardCharsets.UTF_8);
    Map res = json.deserialize(Map.class, data, data.length);
    Assert.assertEquals(root.get("displayName"), res.get("displayName"));

[2022-08-09 05:48] mandeepjain commented on #238
Thank you for the response

[2022-08-09 05:48] #238 closed

[2022-08-13 19:28] zapov commented on #229
I merged a change which improves this. But I noticed that it wont work if you have this naming strategy in the same project/jar. Meaning it must be able to create instance of this class during compilation.

Anyway... I've made it like you suggested with a fallback to old version.

[2022-08-13 19:29] #237 closed

[2022-10-05 10:27] vans239 opened #240 "Support for nested binding"
I am interested in ability to bind exisiting instance recursively.
Based on my understanding of source code the feature currently is not supported

Kotlin example
[code]

Example_DslJsonConverter contains something like:
[code]

Instead I'd like to have:
[code]
That way instance reading would be zero allocation (mostly)

[2022-10-05 12:19] plokhotnyuk commented on #240
@vans239 [Here](https://github.com/plokhotnyuk/jsoniter-scala/blob/90cba5df3b70b3abfbd7ddf84c7864fa4e2dae48/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/DslPlatformJson.scala#L85) is how encoders and decoders are derived recursively with the library extension for Scala.

Probably similar approach can be used with Kotlin.

[2022-10-05 12:43] vans239 commented on #240
@plokhotnyuk I am not sure that follow your idea.
Dsl-json supports nested objects converters from the box. It also supports 'binding' of json into the instance, but it doesn't work recursively. The recursive support would require code generation change (aka annotation processor)

[2022-10-05 13:48] zapov commented on #240
I probably didn't add support for this because its not obvious how to handle nested binding when not all properties are provided.
You would need to do some reset() before the binding... but I guess this could be enforced by having some dsl-json signature to implement that behavior.

[2022-10-05 14:40] vans239 commented on #240
Would it be reasonable thing to add to the library? Thinking on prototyping this.

For auto-generated `bind` indeed values should be reset. Good point.
For provided `BindObject` it should be responsibility of handling in `bind` method.

[2022-10-05 14:44] zapov commented on #240
It is a reasonable thing. And looks useful to add.
Not sure when tho. I have some other changes pending too, just never the time to implement them :(

[2022-10-05 14:44] zapov commented on #240
If you want to make a PR that would certainly move it faster :)

[2022-10-05 15:12] vans239 commented on #240
I had yesterday an issue when tried to experiment: `mvn install` on clean checkout fails due to tests.
Similar to  https://github.com/ngs-doo/dsl-json/pull/102#issuecomment-439602837
[code]

Is there any chance that you know what could cause it? I can share full env setup later today

[2022-10-05 15:29] zapov commented on #240
Without digging into I suspect it might be due to missing Mono.
There are tests running the DSL Platform compiler on a subset of cases.
You can exclude that project if you don't want to have Mono around.

[2022-11-30 22:36] centratelemedia opened #241 "error"
using gson this working fine, but error using dsl-json

[code]

error

[code]